
.switcher-contacts-view {
	display: flex;
	.contacts-switcher-icon {
		font-size: 30px;
	}

	.checked {
		color: #61dbfb;
	}
}

.switcher-contacts-reload {
	font-size: 27px;
    margin-top: 2px;
    margin-left: 20px;
}
